[Unit]
Description=Run Snapshot Service on Schedule
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnCalendar=*-*-* 00:00:00
Unit=snapshot.service

[Install]
WantedBy=timers.target